h1{

    text-align: center;
    

}

h1{ 
  border: 1px solid black;
    background-color: black;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
    color: white;
     }

body {
	 background-color: #9e8d8d;
}